<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script defer src="client.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>My profile</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a class="Shop" href="/">Shop app</a></li>
          <div class="user-info">
            <% if (user) { %>
              <li><a href="/add">Add product</a></li>
              <li><a href="/chat">Chat</a></li>
              <li><a href="/profile">My profile</a></li>
              <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/login">Log in</a></li>
            <% } %>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <% if (user) { %>
          <h1><%= user.username %></h1>
          <h2><%= user.email %></h2>
          <img src="https://www.oseyo.co.uk/wp-content/uploads/2020/05/empty-profile-picture-png-2-2.png">
      <% } else if (error) { %>
          <h1 class="error"><%= error %></h1>
      <% } %>
    </main>
    <footer>
      <p>© 2023 Copyright: Piotr Maszczak</p>
    </footer>
  </body>
</html>
