<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dodawanie produktu</title>
  <script defer src="https://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script defer src="client.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a class="Allegro" href="/">Allegro</a></li>
        <div class="user-info">
          <% if (user) { %>
            <li><a href="/add">Dodaj produkt</a></li>
            <li><a href="/chat">Czat</a></li>
            <li><a href="/profile">Mój profil</a></li>
            <li><a href="/logout">Wyloguj</a></li>
          <% } else { %>
            <li><a href="/login">Zaloguj się</a></li>
          <% } %>
        </div>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Dodawanie produktu</h1>
    <form action="/add" method="post" id="form2">
      <label for="title"> Tytuł:</label>
      <input type="text" name="title" id="title" required>
      <label for="description"> Opis:</label>
      <textarea type="text" name="description" id="description" required></textarea>
      <label for="price"> Cena(€):</label>
      <input type="number" name="price" id="price" min=0 required>
      <label for="discountPercentage"> Promocja(%):</label>
      <input type="number" name="discountPercentage" min=0 max=100 id="discountPercentage" required>
      <label for="stock"> Ilosc:</label>
      <input type="number" name="stock" id="stock" min=0 required>
      <label for="brand"> Marka:</label>
      <input type="text" name="brand" id="brand" required>
      <label for="category"> Kategoria</label>
      <input type="text" name="category" id="category" required>
      <label for="category"> Miniaturka</label>
      <input type="text" name="thumbnail" id="thumbnail" required>
      <br/>
      <label for="images"> Obrazki</label>
      <input type="text" name="images" id="images">
      <input type="text" name="images" id="images">
      <input type="text" name="images" id="images">
      <button type="submit">Dodaj produkt</button>
    </form>
    <% if (error) { %>
      <div class="error"><%= error %></div>
    <% } %>
  </main>
  <footer>
    <p>© 2023 Copyright: Piotr Maszczak</p>
  </footer>
</body>
</html>
