<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rejestracja</title>
  <script defer src="https://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script defer src="client.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a class="Allegro" href="/">Allegro</a></li>
        <div class="user-info">
          <li><a href="/login">Zaloguj się</a></li>
          <li><a href="/register">Zarejestruj się</a></li>
        </div>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Rejestracja</h1>
    <form action="/register" method="post">
      <label for="username"> Nazwa użytkownika:</label>
      <input type="text" name="username" id="username" required>
      <label for="email"> Adres e-mail:</label>
      <input type="email" name="email" id="email" required>
      <label for="password"> Hasło:</label>
      <input type="password" name="password" id="password" required>
      <label for="password2"> Potwierdź hasło:</label>
      <input type="password" name="password2" id="password2" required>
      <button type="submit" class="button">Zarejestruj się</button>
    </form>
    <% if (error) { %>
      <div class="error"><%= error %></div>
    <% } %>
  </main>
  <footer>
    <p>© 2023 Copyright: Piotr Maszczak</p>
  </footer>
</body>

</html>